* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f2f220;
    color: #333;
}

header {
    background: #333;
    color: #ffffff90;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 0;
    margin-left: 50%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: blanchedalmond;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background: #575757;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px;
    background: #F5DEB3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #ffffff34;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1{
    color: #6d0606;
}
.viesocial{
    text-align: center;
}
h1 {
    margin-top: 20px;
    text-align: center;
}
.me{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    }
ul{
margin-left:45%;
color:#8b5b5b ;
} 
.clé{
    text-align: center;
} 
.rounded-cercle{
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    border-radius: 50%; 
}
.tunivision{
    border-radius: 15px;
}
.xoxo{
    border-radius: 8px;
    height: 110px;
    width: 140px;
}
#contactm{
    text-align: center;
}
label{
    display: block;
}
textarea{
    width: 300px;
    height: 150px;
}
#email{
    width: 230px;
    height: 30px
}
h3{
    text-decoration-line: underline;
}
#PF{
    margin-left: 10%;
    color: #333;
}
#env{
    height: 30px;
    width:70px ;
}
#loisir{
    text-decoration-line: line-through;
    color: rgb(32, 74, 60);
}

     

